.sidebar {
    width: 25%;
    position: fixed;
    left: 0;
    height: 100%;
    border: 1px solid #e6ecf0;

    &__iconslogo {
        color: #1da1f2;
        font-size: 25px;
    }

    &__icons {
        font-size: 26px;
    }

    &__ul {
        list-style-type: none;

    }

    &__ul {
        li {
            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: black;
                padding: 18px 35px;
                font-weight: 500;

                :hover {
                    color: #e8f5fe;
                    color: #1da1f2;
                }

            }
        }
    }

    &__Btn {
        a {
            text-decoration: none;
            background-color: #1da1f2;
            color: #efff;
            padding: 13px 20px;
            margin: 0 35px;
            border-radius: 50px;
            outline: none;
            display: block;
            text-align: center;
        }
    }











}